.container {
  width: 100%;
  max-width: 18rem;
  border-top: 1px skybkue solid;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
  position: fixed;
  right: 5rem;
  top: 6.5rem;
  z-index: 10;
  transform: translateY(20%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.show {
  transform: translateY(-4%);
  opacity: 1;
  visibility: visible;
}
.open {
  transition: all 0.5s ease-in-out;
  display: none;
}
.openSub {
  transition: all 0.5s ease-in-out;
  display: block;
}
.link {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
}
.link:hover {
  background-color: skyblue;
  padding-left: 1rem;
}
hr {
  margin: 0.5rem 0;
}
@media screen and (max-width: 1000px) {
  .container {
    right: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .container {
    display: none;
  }
  .mobileShowContainer {
    display: block;
    right: 3.5rem;
    top: 22rem;
    transform: translateY(0);
    transform: translateX(70%);
  }
  .show {
    transform: translateX(5%);
  }
  .link {
    font-size: 0.8rem;
    line-height: 2rem;
    padding: 0;
  }
  hr {
    margin: 0;
  }
}
