.formInput {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  border: 1px skyblue solid;
  outline: none;
  margin-bottom: 1rem;
  background-color: transparent;
}

.formInput::placeholder {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.smallWidth {
  width: 48%;
  margin-bottom: 0;
}

@media screen and (max-width: 650px) {
  .smallWidth {
    width: 100%;
    margin-bottom: 1rem;
  }
}
