* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  overflow-x: hidden;
}
.App {
  width: 100%;
  overflow-x: hidden;
}
.whatsappLogBox {
  display: block;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  z-index: 20;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.whatsappLogo {
  color: rgb(12, 187, 12);
  font-size: 2rem;
}
.scroll {
  bottom: 6rem;
}
.arrowUpBox {
  width: 100%;
  max-width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  right: 1.5rem;
  bottom: -3rem;
  z-index: 20;
  background-color: lightgrey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.arrowUp {
  font-size: 2rem;
  color: skyblue;
}
.arrowScroll {
  bottom: 1rem;
}
